@{ 
    string GetTheme()
    {
        if (Context.Request.Cookies["Theme"].Equals("light"))
            return "bg-light text-dark";
        else return "bg-dark text-light";
    }
}

<form asp-controller="Home" asp-action="SetTheme"
      asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString"
      method="post" class="form-horizontal">
    <select name="theme" onchange="this.form.submit();"
            style="border: 0px" class="@GetTheme()">
        @if (Context.Request.Cookies["Theme"].Equals("light"))
        {
            <option value="light" selected>light</option>
            <option value="dark">dark</option>
        }
        else
        {
            <option value="light">light</option>
            <option value="dark" selected>dark</option>
        }
    </select>
</form>