/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.search:after {
    content: "";
    clear: both;
    display: table
}

.search form {
    width: auto;
    float: right;
    margin-right: 30px;
}

.search input {
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 1px solid;
    outline: none;
    position: relative;
}

.search .ser-button {
    width: 42px;
    height: 42px;
    background: none;
    z-index: 10;
    border: none;
    position: absolute;
    margin: auto 210px;
    float: right;
    color: #324b4e;
}

.search .ser-button:before {
    color: #324b4e;
}

.tags {
    background: transparent;
    border: 0;
    color: initial;
    color: var(--primary-text, initial);
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
}

.spanTag {
    background-color: #c4d2e7;
    border: 1px solid #9cb4d8;
    border-radius: 3px;
    color: #1d2129;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 26px;
    line-height: 1.4;
    margin: 4px 4px 0 0;
    padding: 1px 3px 1px 4px;
    white-space: nowrap;
    width: max-content;
}

#tagsDiv {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: .25rem;
    display: flex;
    flex-wrap: wrap;
}

.spanClose {
    float: right;
    margin-left: 5px;
}