@inject IViewLocalizer Localizer
<style>
.item {
    height: 50px;
    width: 48%;
    margin: 5px 10px;
    background-color: #E3E3E3;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
}
</style>

<h2 class="text-center">@Localizer["Items"]</h2>
<div class="container">
    <div class="d-flex flex-wrap">
        @foreach (Item item in (Model as List<Item>))
        {
            <div class='item'
                 onclick="goToItem(@Html.Raw(Json.Serialize(item.Id)))">
                <div class="text-center" style="font-size: 20px">@item.Name</div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function goToItem(id) {
            window.location.href='@Url.Action("Item", "Home")?id=' + id;
        }
    </script>
}